@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>Project information: <a href="https://github.com/GyroGearl00se/Solace-Web-Client">GitHub.com - GyroGearl00se - Solace-Web-Client</a>.</p>
</div>
